html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
}
body {
  background: #000;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
.closeBtn {
  display: block;
  cursor: pointer;
  background: #f00;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  z-index: 100;
}
.dg {
  display: none;
}
.instruction,
.credit {
  font-size: 16px;
  color: #282828;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  cursor: none;
  z-index: 1000;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: light;
  letter-spacing: -1px;
}
.credit {
  font-size: 14px;
  color: #222;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  cursor: none;
  z-index: 1001;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: light;
  letter-spacing: -1px;
}
.credit a {
  color: #262626;
}
#caseStudy {
  color: #000;
  background: #eee;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(60%);
  min-height: 100%;
  border-left: 1px solid #111;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 30px;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.9em;
  font-size: 12px;
}
#caseStudy a {
  color: #777;
  text-decoration: none;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  padding: 0 2px;
  margin: 1px 2px;
}
#caseStudy a:before {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% + 6px);
  height: 100%;
  top: 0;
  left: -3px;
  background: rgba(0,0,0,0.05);
  z-index: -1;
}
#caseStudy a:after {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% + 6px);
  height: 100%;
  top: 0;
  background: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  z-index: -1;
  left: -3px;
}
#caseStudy a:hover {
  color: #000;
}
#caseStudy a:hover:after {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
#caseStudy h1 {
  text-align: center;
  padding: 20px 0 50px 0;
  font-size: 24px;
  display: block;
}
#caseStudy .by {
  text-align: center;
  margin-top: -45px;
  color: #888;
}
#caseStudy h2 {
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}
#caseStudy h2.fin {
  text-align: center;
  margin-bottom: 50px;
}
#caseStudy p,
#caseStudy pre {
  color: #888;
  padding-bottom: 20px;
}
#caseStudy pre {
  font-size: 10px;
  line-height: 1.6em;
  background: #e0e0e0;
  padding: 10px 20px;
  margin-bottom: 15px;
  color: #666;
  overflow-x: auto;
}
#caseStudy ul {
  padding-bottom: 20px;
}
#caseStudy li {
  color: #888;
}
#caseStudy img {
  background: #000;
  display: inline-block;
  width: calc(25% - 1px);
  height: auto;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#caseStudy .slide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin: auto;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
#caseStudy .toogleButton {
  width: 150px;
  height: 22px;
  background: #fff;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  cursor: pointer;
}
#caseStudy .slider {
  cursor: pointer;
  width: 100%;
  height: 24px;
  position: relative;
  display: inline-block;
  vertical-align: center;
  line-height: 2.4em;
  margin-right: 10px;
  color: #fff;
}
#caseStudy .slider div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#caseStudy .slider .base {
  background: #dadada;
}
#caseStudy .slider .percent {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  -o-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
  background: #555;
}
#caseStudy .slider .text {
  top: -3px;
  left: 7px;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.three {
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #111;
}
@media (max-width: 900px) {
  #caseStudy img {
    width: 33%;
  }
}
@media (max-width: 800px) {
  #caseStudy img {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .three {
    width: 100%;
  }
  .show {
    width: 100%;
    padding-top: 120%;
  }
  #caseStudy {
    background: rgba(0,0,0,0.1);
    width: 100%;
    color: #fff;
  }
  #caseStudy .by,
  #caseStudy pre,
  #caseStudy p,
  #caseStudy li,
  #caseStudy .slider,
  #caseStudy a {
    color: #aaa;
  }
  #caseStudy pre {
    background: rgba(30,30,30,0.9);
  }
  #caseStudy img {
    width: 50%;
  }
  #caseStudy .slide {
    background: rgba(0,0,0,0.7);
    padding: 5px 20px;
  }
  #caseStudy .conclusion {
    background: rgba(0,0,0,0.95);
  }
  #caseStudy .slider {
    height: 40px;
  }
  #caseStudy .slider .base {
    background: rgba(30,30,30,0.9);
  }
  #caseStudy .slider .percent {
    background: rgba(40,40,40,0.9);
  }
  #caseStudy .slider .text {
    top: 7px;
    left: 7px;
  }
  #caseStudy .toogleButton {
    background: rgba(200,200,200,0.9);
  }
  #caseStudy a:hover {
    color: #fff;
  }
  #caseStudy a:before {
    background: rgba(200,200,200,0.5);
  }
  #caseStudy a:after {
    background: rgba(255,255,255,0.5);
  }
}
