// fonts

fSSerif = 'Lato'

fLight( size )
  font-family fSSerif
  font-size size
  font-weight 300

fRegular( size )
  font-family fSSerif
  font-size size
  font-weight 400

fBold( size )
  font-family fSSerif
  font-size size
  font-weight 700
