// fonts

fSSerif = 'Lato'

fLight( size )
  font-family fSSerif
  font-size size
  font-weight 300

fRegular( size )
  font-family fSSerif
  font-size size
  font-weight 400

fBold( size )
  font-family fSSerif
  font-size size
  font-weight 700

fSSerifB = 'Rajdhani'

fLightB( size )
  font-family fSSerifB
  font-size size
  font-weight 300

fRegularB( size )
  font-family fSSerifB
  font-size size
  font-weight 500

fBoldB( size )
  font-family fSSerifB
  font-size size
  font-weight 600
