#home
  position absolute
  min-height 100%
  height 100%
  width calc(100% - 300px)
  top 0
  left 300px

.article-entry
  position relative
  display block
  height 50%
  img
    position relative
    display block
    transform-origin 50% 50%
