header
	z-index 2
	top 0
	left 0
	position fixed
	width 300px
	height 100%
	min-height 100%
	background #000
	color #FFF
	padding 40px
	margin-bottom 40px
	overflow-y auto
	overflow-x hidden
	box-sizing border-box
	visibility: hidden
	will-change: transform

	.inside
		position relative
		height: 100%
		min-height: 100%
		overflow: hidden;

	// h1,h2,h3,h4,.presentation,li
	// 	padding 0 10px

	.mask
		display block
		background #FFF
		position absolute
		width 100%
		top 0
		left 0
		height 100%
		z-index 1
		transform-origin right

	.section .mask
		transform-origin right

	a.title
		position relative
		text-decoration none
		overflow-x hidden
		display block

		h1
			will-change: transform
			color #FFF
			text-align left
			padding 20px 0 10px 0
			fRegularB( 48px )
			position relative
			letter-spacing 1px
			.light
				opacity .5
				font-weight 300
				margin-right 8px

		h2
			will-change: transform
			position relative
			padding 20px 0 40px 0
			color #666
			fLight( 16px )
			letter-spacing 1px

	h3
		will-change: transform
		position relative
		margin-top 60px
		margin-bottom 20px
		color #DDD
		fRegular( 18px )
		letter-spacing 1.5px

	h4
		will-change: transform
		position relative
		font-size 11px
		padding-bottom 5px


	.presentation
		position relative
		fLight( 12px )
		letter-spacing 1px
		line-height 16px
		padding-bottom 20px
		color #CCC
		display block
		span
			display inline-block
			padding-top 5px

	.links
		will-change: transform
		overflow hidden
		h4
			float right
			display block
		.first
			float left
		.second
			margin-right 10px

		a
			color #666
			display inline-block
			fRegular( 10px )
			line-height 15px
			text-decoration none
			border-bottom 1px solid #666
			padding-bottom 2px
			margin-bottom 4px
			text-decoration none
			position relative
			&:after
				content:''
				position:absolute
				display block
				width calc(100% + 3px)
				height 100%
				top 1px
				background #FFF
				transition all 0.25s
				transform scaleX(0)
				transform-origin top left
				z-index -1
				left -3px

			&:hover
				color #000
				&:after
					transform scaleX(1)

	ul
		width 100%
		line-height 18px
		li
			display block
			overflow auto
			a
				transition opacity 0.3s
				position relative
				display inline-block
				fRegular( 14px )
				color #AAA
				text-decoration none
				border-bottom 1px solid #aaa
				padding-bottom 3px
				margin-bottom 10px
				opacity .5
				&:hover
					opacity 1

				&:after
					content:''
					position:absolute
					display block
					width calc(100% + 3px)
					height 100%
					top 0
					background #FFF
					transition all 0.25s
					transform scaleX(0)
					transform-origin top left
					z-index -1
					left -3px

				&:hover
					color #000
					&:after
						transform scaleX(1)

				&.selected
					opacity 1

	.backhome
		display none
		color #666
		text-align center
		fLight(14px)
		padding 10px 0
		height 100%
		text-decoration none
		position relative
		&:hover
			color #000
			&:before
				transform scaleY(1)
		&:before
			content ""
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			z-index -1
			transform scaleY(0)
			background #FFF
			transform-origin bottom center
			transition all .2s ease-out

@media (max-width: 700px)
	header
		position fixed
		width 100%
		background rgba(0,0,0,0.9)
		&.article
			height 34px
			min-height: 34px
			border-bottom 1px solid #111
			padding 0
			min-height 34px
			.backhome
				display block

	iframe
		position absolute
		width 100%
		height calc(100% - 34px)
		min-height calc(100% - 34px)
		// height 110vh
		left 0
		top 34px
		&.home
			top 0

@media (max-width: 480px)
	header
		a.title
			br
				display none
			h1
				padding-top 10px
				font-size 28px
