a.article-entry(href="/blog/deerxmas")
  img(data-src="imgs/article-deerxmas.jpg")
  span.article-entry-texts
    span.article-entry-texts-bg
    span.article-entry-texts-line
    span.article-entry-texts-title DEER XMAS
a.article-entry(href="/blog/treeline")
  img(data-src="imgs/article-treeline.jpg")
  span.article-entry-texts
    span.article-entry-texts-bg
    span.article-entry-texts-line
    span.article-entry-texts-title TREELINE
