//- Makio And Floz
doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width, minimal-ui")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")

		//- facebook meta
		meta(property="og:site_name", content="MakioAndFloz")
		meta(property="og:title", content="MakioAndFloz")
		meta(property="og:description", content="FuckTheFreeWorld")
		meta(property="og:type", content="website")
		meta(property="og:url", content="makioandfloz")
		meta(property="og:image", content="http://makioandfloz.com/facebook.jpg")
		
		//- twitter meta
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@makio64")
		meta(name="twitter:creator", content="@makio64")
		meta(name="twitter:title", content="makioandfloz")
		meta(name="twitter:description", content="FuckTheFreeWorld")
		meta(name="twitter:image", content="http://makioandfloz.com/twitter.jpg")

		title Makio and Floz - Blog about art & dev
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:300,400,700')
		link(rel='stylesheet', href='css/main.css')

	body
		#mask
		header
			.inside
				a(href="/").backhome menu
				a.title(href="/") 
					h1 
						.mask
						|Makio <br /><span>&</span> Floz
					h2 
						.mask
						|Blog about Art & Dev
				.presentation
					.mask
					p |We are two parisian artists enjoying code, design, art and installation.<br /><span>This blog regroup our thougth & case studies to share our knowledges.</span>
						
				.links
					h4.first
						a(target="_blank", href="https://twitter.com/makio64").twitter 
							.mask
							|@Makio64 
						br
						a(target="_blank", href="https://twitter.com/florianzumbrumn").twitter
							.mask
							|@florianzumbrumn
				.section
					.mask
					h3 Case Studies
					include casestudy-menu.jade
		#article

		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TimelineLite.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/easing/EasePack.min.js')
		script(type='text/javascript', src='js/bundle.js')
