//- Makio And Floz
doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width, minimal-ui")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")

		//- facebook meta
		meta(property="og:site_name", content="makioandfloz")
		meta(property="og:title", content="makio & floz")
		meta(property="og:description", content="Blog about art & dev")
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://www.makioandfloz.com")
		meta(property="og:image", content="http://www.makioandfloz.com/facebook.jpg")
		meta(property="fb:app_id", content="534075170104569")
		
		//- twitter meta
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@makio64")
		meta(name="twitter:creator", content="@makio64")
		meta(name="twitter:title", content="makioandfloz")
		meta(name="twitter:description", content="Blog about art & dev")
		meta(name="twitter:image", content="http://www.makioandfloz.com/twitter.jpg")

		title Makio and Floz - Blog about art & dev
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:300,400,700')
		link(rel='stylesheet', href='/css/main.css')

	body
		#mask
		header
			.inside
				a(href="/").backhome menu
				a.title(href="/") 
					h1 
						.mask
						|Makio <br /><span>&</span> Floz
					h2 
						.mask
						|Blog about Art & Dev
				.presentation
					.mask
					p We are two parisian artist mixing art & code to create visual and installation.<br /><span>This cyberspace regroup our thoughts about our projects and creations.</span>
						
				.links
					h4.first
						a(target="_blank", href="https://twitter.com/makio64", title="David Ronai aka Makio64 twitter").twitter 
							.mask
							|@makio64 
						br
						a(target="_blank", href="https://twitter.com/florianzumbrumn", title="Florian Zumbrumn aka Floz twitter").twitter
							.mask
							|@florianzumbrumn
				.section
					.mask
					h3 Case Studies
					include casestudy-menu.jade
		#article
		//- #home
			//- Articles list
			//- include all-articles-home.jade
		script.
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga')
			  ga('create', 'UA-75677669-1', 'auto')
			  ga('send', 'pageview')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TimelineLite.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/easing/EasePack.min.js')
		script(type='text/javascript', src='/js/bundle.js')
