html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.three,
.stage3dCSS {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
}
body {
  background: #000;
  min-height: 100%;
  height: 100%;
  width: 100%;
  color: #fff;
}
.sound {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  bottom: 0;
  right: 0;
  color: #333;
  font-size: 11px;
  padding: 0 10px;
  text-decoration: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: 0.15s all ease-in;
  -moz-transition: 0.15s all ease-in;
  -o-transition: 0.15s all ease-in;
  -ms-transition: 0.15s all ease-in;
  transition: 0.15s all ease-in;
}
.sound:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.credit {
  position: absolute;
  z-index: 2;
  padding: 10px 20px;
  background: rgba(0,0,0,0.05);
  bottom: 0;
  left: 0;
  color: #333;
  font-size: 11px;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
.credit:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
.credit:hover {
  color: #fff;
}
.credit:hover:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
